body{
    margin-top: 0;
    background-color: #141414;
    color: #fff;
    font-size: 1.2vw;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 30;
    background-color: #141414;
    width: 100vw;
    margin-top: 0px;
    height: 4.5em;
}
main{
    margin-top: 0;
    position: relative;
    top: 5em;
}
.cabeceraizq{
    display: flex;
    gap: 1.2em;
    margin-block-start: 1.2em;
    margin-inline-start: 2.6%;

}

.logo{
    width: 7em;
    margin-top: 0em;
    position: relative;
    top: -35%;
    
}
.cabeceradcha{
    display: flex;
    margin-top: 1.2em;
    margin-right: 5em;
    gap: 0.8em;
    justify-content: space-evenly;
}
.iconoscabecera{
    width: 1.8em;
    
}
.usuario{
    width: 2.3em;
    border-radius: 0.2em;
}
.triangulo{
    width: 0.8em;
    position: relative;
    top: 10%;
}
.leyenda{
   font: 1.1em helvetica;
   margin: 0 0 0 2.7em;
   padding: 0;
}
.barra1{
    display: flex;
    max-width: 100%;
    overflow: hidden;
    margin-left: 2.7em;
    margin-top: 1.2em;
    margin-bottom: 2em;
    gap: 0.3em;

}
divimagen{
    width: 17em;
    height: 7.2em;
    padding: 0;
}
.imagen{
   
    width: 15em;
    height: 8.3em;
    border-radius: .5em;

}
