body{
    border: none;
    background-color: #141414;
    color: #fff;
    font-size: 1.2vw
}
header{
    display: flex;
    justify-content: space-between;
}
.cabeceraizq{
    display: flex;
    gap: 1.45em;
    margin-block-start: 1em;
    margin-inline-start: 2.6%;

}
.cabeceradcha{
    display: flex;
}
.logo{
    width: 7em;
    margin-top: 0em;
    position: relative;
    top: -35%;
    
}
.iconoscabecera{
    width: 2em;
    
}
.triangulo{
    width: 0.8em;
}